contrib/lxml/grampsxml.xsd

<schema
 xmlns='http://www.w3.org/2001/XMLSchema'
 targetNamespace='http://gramps-project.org/xml/1.6.0/'
 xmlns:gramps='http://gramps-project.org/xml/1.6.0/'>
<element name='database'>
  <complexType>
   <sequence>
    <element ref='gramps:header'/>
    <element ref='gramps:name-formats' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:tags' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:events' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:people' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:families' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:citations' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:sources' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:places' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:objects' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:repositories' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:notes' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:bookmarks' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:namemaps' minOccurs='0' maxOccurs='1'/>
   </sequence>
  </complexType>
 </element>

 <element name='header'>
  <complexType>
   <sequence>
    <element ref='gramps:created'/>
    <element ref='gramps:researcher' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:mediapath' minOccurs='0' maxOccurs='1'/>
   </sequence>
  </complexType>
 </element>

 <element name='created'>
  <complexType>
   <attribute name='date' type='string' use='required'/>
   <attribute name='version' type='string' use='required'/>
  </complexType>
 </element>

 <element name='researcher'>
  <complexType>
   <sequence>
    <element ref='gramps:resname' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:resaddr' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:reslocality' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:rescity' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:resstate' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:rescountry' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:respostal' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:resphone' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:resemail' minOccurs='0' maxOccurs='1'/>
   </sequence>
  </complexType>
 </element>

 <element name='resname'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='resaddr'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='reslocality'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='rescity'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='resstate'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='rescountry'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='respostal'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='resphone'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='resemail'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='mediapath'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='people'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:person'/>
   </sequence>
   <attribute name='default' type='string' use='optional'/>
   <attribute name='home' type='IDREF' use='optional'/>
  </complexType>
 </element>

 <element name='person'>
  <complexType>
   <sequence>
    <element ref='gramps:gender'/>
    <element ref='gramps:name' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:eventref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:lds_ord' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:objref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:address' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:attribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:url' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:childof' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:parentin' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:personref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='gender'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='name'>
  <complexType>
   <sequence>
    <element ref='gramps:first' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:call' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:surname' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:suffix' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:title' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:nick' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:familynick' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:group' minOccurs='0' maxOccurs='1'/>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='gramps:daterange'/>
     <element ref='gramps:datespan'/>
     <element ref='gramps:dateval'/>
     <element ref='gramps:datestr'/>
    </choice>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='alt' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='type' type='string' use='optional'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='sort' type='string' use='optional'/>
   <attribute name='display' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='first'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='call'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='suffix'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='title'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='nick'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='familynick'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='group'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='surname'>
  <complexType mixed='true'>
   <attribute name='prefix' type='string' use='optional'/>
   <attribute name='prim' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='1'/>
      <enumeration value='0'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='derivation' type='string' use='optional'/>
   <attribute name='connector' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='childof'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='parentin'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='personref'>
  <complexType>
   <sequence>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='hlink' type='IDREF' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='rel' type='string' use='required'/>
  </complexType>
 </element>

 <element name='address'>
  <complexType>
   <sequence>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='gramps:daterange'/>
     <element ref='gramps:datespan'/>
     <element ref='gramps:dateval'/>
     <element ref='gramps:datestr'/>
    </choice>
    <element ref='gramps:street' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:locality' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:city' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:county' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:state' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:country' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:postal' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:phone' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='street'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='locality'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='city'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='county'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='state'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='country'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='postal'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='phone'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='families'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:family'/>
   </sequence>
  </complexType>
 </element>

 <element name='family'>
  <complexType>
   <sequence>
    <element ref='gramps:rel' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:father' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:mother' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:eventref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:lds_ord' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:objref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:childref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:attribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='father'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='mother'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='childref'>
  <complexType>
   <sequence>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='hlink' type='IDREF' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='mrel' type='string' use='optional'/>
   <attribute name='frel' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='type'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='rel'>
  <complexType>
   <attribute name='type' type='string' use='required'/>
  </complexType>
 </element>

 <element name='events'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:event'/>
   </sequence>
  </complexType>
 </element>

 <element name='event'>
  <complexType>
   <sequence>
    <element ref='gramps:type' minOccurs='0' maxOccurs='1'/>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='gramps:daterange'/>
     <element ref='gramps:datespan'/>
     <element ref='gramps:dateval'/>
     <element ref='gramps:datestr'/>
    </choice>
    <element ref='gramps:place' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:cause' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:description' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:attribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:objref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='sources'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:source'/>
   </sequence>
  </complexType>
 </element>

 <element name='source'>
  <complexType>
   <sequence>
    <element ref='gramps:stitle' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:sauthor' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:spubinfo' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:sabbrev' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:objref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:srcattribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:reporef' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='stitle'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='sauthor'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='spubinfo'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='sabbrev'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='places'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:placeobj'/>
   </sequence>
  </complexType>
 </element>

 <element name='placeobj'>
  <complexType>
   <sequence>
    <element ref='gramps:ptitle' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:code' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:alt_name' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:coord' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:placeref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:location' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:objref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:url' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
   <attribute name='name' type='string' use='required'/>
   <attribute name='type' type='string' use='required'/>
  </complexType>
 </element>

 <element name='ptitle'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='code'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='alt_name'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='coord'>
  <complexType>
   <attribute name='long' type='string' use='required'/>
   <attribute name='lat' type='string' use='required'/>
  </complexType>
 </element>

 <element name='location'>
  <complexType>
   <attribute name='street' type='string' use='optional'/>
   <attribute name='locality' type='string' use='optional'/>
   <attribute name='city' type='string' use='optional'/>
   <attribute name='parish' type='string' use='optional'/>
   <attribute name='county' type='string' use='optional'/>
   <attribute name='state' type='string' use='optional'/>
   <attribute name='country' type='string' use='optional'/>
   <attribute name='postal' type='string' use='optional'/>
   <attribute name='phone' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='objects'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:object'/>
   </sequence>
  </complexType>
 </element>

 <element name='object'>
  <complexType>
   <sequence>
    <element ref='gramps:file'/>
    <element ref='gramps:attribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='gramps:daterange'/>
     <element ref='gramps:datespan'/>
     <element ref='gramps:dateval'/>
     <element ref='gramps:datestr'/>
    </choice>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='file'>
  <complexType>
   <attribute name='src' type='string' use='required'/>
   <attribute name='mime' type='string' use='required'/>
   <attribute name='checksum' type='string' use='optional'/>
   <attribute name='description' type='string' use='required'/>
  </complexType>
 </element>

 <element name='repositories'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:repository'/>
   </sequence>
  </complexType>
 </element>

 <element name='repository'>
  <complexType>
   <sequence>
    <element ref='gramps:rname'/>
    <element ref='gramps:type'/>
    <element ref='gramps:address' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:url' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='rname'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='notes'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:note'/>
   </sequence>
  </complexType>
 </element>

 <element name='note'>
  <complexType>
   <sequence>
    <element ref='gramps:text'/>
    <element ref='gramps:style' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
   <attribute name='format' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='type' type='string' use='required'/>
  </complexType>
 </element>

 <element name='text'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='style'>
  <complexType>
   <sequence>
    <element ref='gramps:range' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='name' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='bold'/>
      <enumeration value='italic'/>
      <enumeration value='underline'/>
      <enumeration value='fontface'/>
      <enumeration value='fontsize'/>
      <enumeration value='fontcolor'/>
      <enumeration value='highlight'/>
      <enumeration value='superscript'/>
      <enumeration value='link'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='value' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='range'>
  <complexType>
   <attribute name='start' type='string' use='required'/>
   <attribute name='end' type='string' use='required'/>
  </complexType>
 </element>

 <element name='tags'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:tag'/>
   </sequence>
  </complexType>
 </element>

 <element name='tag'>
  <complexType>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='name' type='string' use='required'/>
   <attribute name='color' type='string' use='required'/>
   <attribute name='priority' type='string' use='required'/>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='citations'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:citation'/>
   </sequence>
  </complexType>
 </element>

 <element name='citation'>
  <complexType>
   <sequence>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='gramps:daterange'/>
     <element ref='gramps:datespan'/>
     <element ref='gramps:dateval'/>
     <element ref='gramps:datestr'/>
    </choice>
    <element ref='gramps:page' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:confidence'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:objref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:srcattribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:sourceref'/>
    <element ref='gramps:tagref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='id' type='string' use='optional'/>
   <attribute name='handle' type='ID' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='change' type='string' use='required'/>
  </complexType>
 </element>

 <element name='bookmarks'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:bookmark'/>
   </sequence>
  </complexType>
 </element>

 <element name='bookmark'>
  <complexType>
   <attribute name='target' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='person'/>
      <enumeration value='family'/>
      <enumeration value='event'/>
      <enumeration value='source'/>
      <enumeration value='citation'/>
      <enumeration value='place'/>
      <enumeration value='media'/>
      <enumeration value='repository'/>
      <enumeration value='note'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='namemaps'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:map'/>
   </sequence>
  </complexType>
 </element>

 <element name='map'>
  <complexType>
   <attribute name='type' type='string' use='required'/>
   <attribute name='key' type='string' use='required'/>
   <attribute name='value' type='string' use='required'/>
  </complexType>
 </element>

 <element name='name-formats'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='gramps:format'/>
   </sequence>
  </complexType>
 </element>

 <element name='format'>
  <complexType>
   <attribute name='number' type='string' use='required'/>
   <attribute name='name' type='string' use='required'/>
   <attribute name='fmt_str' type='string' use='required'/>
   <attribute name='active' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='daterange'>
  <complexType>
   <attribute name='start' type='string' use='required'/>
   <attribute name='stop' type='string' use='required'/>
   <attribute name='quality' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='estimated'/>
      <enumeration value='calculated'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='cformat' type='string' use='optional'/>
   <attribute name='dualdated' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='newyear' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='datespan'>
  <complexType>
   <attribute name='start' type='string' use='required'/>
   <attribute name='stop' type='string' use='required'/>
   <attribute name='quality' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='estimated'/>
      <enumeration value='calculated'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='cformat' type='string' use='optional'/>
   <attribute name='dualdated' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='newyear' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='dateval'>
  <complexType>
   <attribute name='val' type='string' use='required'/>
   <attribute name='type' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='before'/>
      <enumeration value='after'/>
      <enumeration value='about'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='quality' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='estimated'/>
      <enumeration value='calculated'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='cformat' type='string' use='optional'/>
   <attribute name='dualdated' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='newyear' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='datestr'>
  <complexType>
   <attribute name='val' type='string' use='required'/>
  </complexType>
 </element>

 <element name='citationref'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='sourceref'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='eventref'>
  <complexType>
   <sequence>
    <element ref='gramps:attribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='hlink' type='IDREF' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='role' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='reporef'>
  <complexType>
   <sequence>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='hlink' type='IDREF' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='callno' type='string' use='optional'/>
   <attribute name='medium' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='noteref'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='tagref'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='page'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='confidence'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='attribute'>
  <complexType>
   <sequence>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='type' type='string' use='required'/>
   <attribute name='value' type='string' use='required'/>
  </complexType>
 </element>

 <element name='srcattribute'>
  <complexType>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='type' type='string' use='required'/>
   <attribute name='value' type='string' use='required'/>
  </complexType>
 </element>

 <element name='place'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='cause'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='description'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='url'>
  <complexType>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='type' type='string' use='optional'/>
   <attribute name='href' type='string' use='required'/>
   <attribute name='description' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='objref'>
  <complexType>
   <sequence>
    <element ref='gramps:region' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:attribute' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='hlink' type='IDREF' use='required'/>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='placeref'>
  <complexType>
   <choice minOccurs='0' maxOccurs='1'>
    <element ref='gramps:daterange'/>
    <element ref='gramps:datespan'/>
    <element ref='gramps:dateval'/>
    <element ref='gramps:datestr'/>
   </choice>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>

 <element name='region'>
  <complexType>
   <attribute name='corner1_x' type='string' use='required'/>
   <attribute name='corner1_y' type='string' use='required'/>
   <attribute name='corner2_x' type='string' use='required'/>
   <attribute name='corner2_y' type='string' use='required'/>
  </complexType>
 </element>

 <element name='data_item'>
  <complexType>
   <attribute name='key' type='string' use='required'/>
   <attribute name='value' type='string' use='required'/>
  </complexType>
 </element>

 <element name='lds_ord'>
  <complexType>
   <sequence>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='gramps:daterange'/>
     <element ref='gramps:datespan'/>
     <element ref='gramps:dateval'/>
     <element ref='gramps:datestr'/>
    </choice>
    <element ref='gramps:temple' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:place' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:status' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:sealed_to' minOccurs='0' maxOccurs='1'/>
    <element ref='gramps:noteref' minOccurs='0' maxOccurs='unbounded'/>
    <element ref='gramps:citationref' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='priv' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='0'/>
      <enumeration value='1'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='type' type='string' use='required'/>
  </complexType>
 </element>

 <element name='temple'>
  <complexType>
   <attribute name='val' type='string' use='required'/>
  </complexType>
 </element>

 <element name='status'>
  <complexType>
   <attribute name='val' type='string' use='required'/>
  </complexType>
 </element>

 <element name='sealed_to'>
  <complexType>
   <attribute name='hlink' type='IDREF' use='required'/>
  </complexType>
 </element>
</schema>
